<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="1.9998" radius="0.920679236108968"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="1.9998" radius="0.920679236108968"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="5.325411038520067"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
</robot>
